alembic==0.8.10
binwalk==2.1.1
capstone==2.1
cffi==1.7.0
CherryPy==6.0.2
click==6.7
cryptography==1.4
enum34==1.1.6
Flask==0.10.1
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
gmpy2==2.0.8
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.4
MarkupSafe==0.23
paramiko==2.0.1
psutil==4.3.0
pwn==1.0
pwnbox==0.5rc1
pwntools==2.2
pyasn1==0.1.9
pycparser==2.14
pyelftools==0.23
pyserial==3.1.1
python-editor==1.0.3
requests==2.10.0
ROPGadget==5.5
six==1.10.0
SQLAlchemy==1.1.5
vboxapi==1.0
Werkzeug==0.11.15
